@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@theme {
  --font-mono: var(--font-mono);
  --font-sans: var(--font-sans);
  --font-head: var(--font-head);
  --radius: var(--radius);

  --shadow-xs: 1px 1px 0 0 var(--border);
  --shadow-sm: 1px 1px 0 0 var(--border);
  --shadow: 2px 2px 0 0 var(--border);
  --shadow-md: 3px 3px 0 0 var(--border);
  --shadow-lg: 5px 5px 0 0 var(--border);
  --shadow-xl: 8px 8px 0 1px var(--border);
  --shadow-2xl: 10px 10px 0 1px var(--border);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-hover: var(--primary-hover);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
}

:root {
  --radius: 0;
  --background: #f5f5f5;
  --foreground: #1a1a1a;
  --card: #ffffff;
  --card-foreground: #f5f5f5;
  --popover: #ffffff;
  --popover-foreground: #f5f5f5;
  --primary: #5f4fe6;
  --primary-hover: #4938c2;
  --primary-foreground: #fff;
  --secondary: #3a3a3a;
  --secondary-foreground: #f5f5f5;
  --muted: #cfccea;
  --muted-foreground: #5b5686;
  --accent: #fed13b;
  --accent-foreground: #000000;
  --destructive: #ef4444;
  --destructive-foreground: #fff;
  --border: #3a3a3a;
  --input: #ffffff;
  --ring: #1a1a1a;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
